fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic-settings
python-magic
aiofiles
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
psutil
redis
numpy
python-Levenshtein
mmh3
xxhash
spacy
email-validator
python-multipart